---
//@ts-nocheck
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import FAQ from "../components/FAQ.astro";
import Artists from "../components/Artists.astro";
import Volunteer from "../components/Volunteer.astro";
import Footer from "../components/Footer.astro";
import Contact from "../components/Contact.astro";
import Archives from "../components/Archives.astro";
import AboutUs from "../components/AboutUs.astro";

---
<Layout>
<Nav />

<main>
  <Hero />

  <section id="faq" class="section hidden">
    <FAQ />
  </section>

  <section id="artists" class="section hidden">
    <Artists />
  </section>

  <section id="volunteer" class="section hidden">
    <Volunteer />
  </section>
</main>
</Layout>
 
<style>
  .hidden {
    display: none;
  }

  .section {
  transition: opacity 0.3s ease;
}

</style>