---
//@ts-nocheck
---
<nav>
  <ul>
    <li onclick="showSection('faq')">FAQ</li>
    <li onclick="showSection('artists')">Kunstnere</li>
    <li onclick="showSection('volunteer')">Frivillig</li>
  </ul>
</nav>

<style>
  nav ul {
    display: flex;
    gap: 20px;
    cursor: pointer;
  }
</style>